.sognnavn {
    font-weight: bold;
}

.sogn-element{
    margin: 5px;
}

#selected-sogn-div{
    width: 33%;
    display: inline-block;
}

#sogn-list-div{
    width: 33%;
    display: inline-block;
}

#opret-sogn-div{
    width: 33%;
    display: inline-block;
}